/*MY CSS:EXTERNAL*/
/* This is an external CSS file linked to the HTML document. */

p{
    font-family: Arial, Helvetica, sans-serif; /* This is a font family */

    font-size: 20px; /* This is a font size */

    font-weight: bold; /* This is a font weight */

    font: normal 20px Arial, Helvetica, sans-serif; /* This is a shorthand for font properties */

    line-height: 1em; /* This is a line height */

}

.container/* This is a class selector for the container */
{
    width: 80%;/* This is a width of the container */
    margin: auto; /* This is a margin to center the container */
}

.Box-1/* This is a class selector for Box-1 */
{
    background-color:#333; /* This is a dark background color */
    color:#fff; /* This is a white text color */
    border-top: 5px red solid; /* This is a top border of 5 pixels */
    border-bottom: 5px red solid; /* This is a bottom border of 5 pixels */
    border-right: 5px red solid; /* This is a right border of 5 pixels */
    border-left: 5px red solid; /* This is a left border of 5 pixels */
    /*OR we can use border: 5px red solid; to apply the same border to all sides*/
    border-width: 3px; /* This is a border width of 3 pixels */
    border-bottom-width: 10px; /* This is a bottom border width of 10 pixels */
    border-top-style: dotted; /* This is a top border style of dotted */
    border:5px solid red; /* This is a shorthand for border properties */
    /*Now we will use padding*/
    padding-top: 20px; /* This is a top padding of 20 pixels */
    padding-bottom: 20px; /* This is a bottom padding of 20 pixels */
    padding-right: 20px; /* This is a right padding of 20 pixels */
    padding-left: 20px; /* This is a left padding of 20 pixels */
    padding: 20px; /* This is a shorthand for padding properties */
    /*Now we will use margin*/
    margin-top: 20px; /* This is a top margin of 20 pixels */
    margin-bottom: 20px; /* This is a bottom margin of 20 pixels */
    margin-right: 20px; /* This is a right margin of 20 pixels */
    margin-left: 20px; /* This is a left margin of 20 pixels */
    margin: 20px; /* This is a shorthand for margin properties */
    
}
