/*MY CSS:EXTERNAL*/
/* This is an external CSS file linked to the HTML document. */

p{
    font-family: Arial, Helvetica, sans-serif; /* This is a font family */

    font-size: 20px; /* This is a font size */

    font-weight: bold; /* This is a font weight */

    font: normal 20px Arial, Helvetica, sans-serif; /* This is a shorthand for font properties */

    line-height: 1em; /* This is a line height */

}

a{
    text-decoration: none; /* This is a text decoration of none */
    color: #000; /* This is a color of the link */
}

a:hover{
    color:red; /* This is a color of the link when hovered */
}

a:active{
    color:green; /* This is a color of the link when active */
}

a:visited{
    color:blue; /* This is a color of the link when visited */
}

.container/* This is a class selector for the container */
{
    width: 80%;/* This is a width of the container */
    margin: auto; /* This is a margin to center the container */
}
.button /* This is a class selector for the button */{
    background-color: #333; /* This is a dark background color */
    color:#fff; /* This is a white text color */
    padding: 10px 15px; /* This is a padding of 15 pixels */;
    border:none; /* This is a border of none */
}
.button:hover /* This is a selector for the button when hovered */
{
    background:red; /* This is a red background color when hovered */
    color:#fff; /* This is a white text color when hovered */
}

.Box-1/* This is a class selector for Box-1 */
{
    background-color:#333; /* This is a dark background color */
    color:#fff; /* This is a white text color */
    border-top: 5px red solid; /* This is a top border of 5 pixels */
    border-bottom: 5px red solid; /* This is a bottom border of 5 pixels */
    border-right: 5px red solid; /* This is a right border of 5 pixels */
    border-left: 5px red solid; /* This is a left border of 5 pixels */
    /*OR we can use border: 5px red solid; to apply the same border to all sides*/
    border-width: 3px; /* This is a border width of 3 pixels */
    border-bottom-width: 10px; /* This is a bottom border width of 10 pixels */
    border-top-style: dotted; /* This is a top border style of dotted */
    border:5px solid red; /* This is a shorthand for border properties */
    /*Now we will use padding*/
    padding-top: 20px; /* This is a top padding of 20 pixels */
    padding-bottom: 20px; /* This is a bottom padding of 20 pixels */
    padding-right: 20px; /* This is a right padding of 20 pixels */
    padding-left: 20px; /* This is a left padding of 20 pixels */
    padding: 20px; /* This is a shorthand for padding properties */
    /*Now we will use margin*/
    margin-top: 20px; /* This is a top margin of 20 pixels */
    margin-bottom: 20px; /* This is a bottom margin of 20 pixels */
    margin-right: 20px; /* This is a right margin of 20 pixels */
    margin-left: 20px; /* This is a left margin of 20 pixels */
    margin: 20px; /* This is a shorthand for margin properties */
}

.Box-1 h1 /* This is a selector for h1(Hello World) inside Box-1 */
{
    font-family: Tahoma;/* This is a font family */
    font-weight: 800; /* This is a font weight of 800 */
    font-style: italic; /* This is a font style of italic */
    text-decoration: underline; /* This is a text decoration of underline */
    text-transform: uppercase; /* This is a text transform of uppercase */
    letter-spacing: 0.2em; /* This is a letter spacing of 0.2em */
    word-spacing: 1em; /* This is a word spacing of 1em */
}    

.Box-2 /* This is a class selector for Box-2(GoodBye World) */{
    border: 3px dotted #ccc; /* This is a dotted border of 3 pixels */
    padding: 20px; /* This is a padding of 20 pixels */
    margin: 20px 0; /* This is a margin of 20 pixels */
}
.Categories /*These are the category list in style*/
{
    border: 1px solid #ccc; /* This is a solid border of 1 pixel */
    padding:10px; /* This is a padding of 10 pixels */
    border-radius:15px; /* This is a border radius of 15 pixels */
}
.Categories h2 /* This is a selector for h2(Categories) inside categories */
{
    text-align: center;
}
.Categories ul /* This is a selector for ul inside categories */
{
    padding-left: 20px; /* This is a padding of 20 pixels to the left */
    list-style: square; /* This is a list style type of square */
    list-style:none; /* This is a list style type of none */
}

.Categories li{
    padding-bottom: 6px; /* This is a padding of 6 pixels to the bottom */
    border-bottom: dotted 2px #ccc; /* This is a dotted border of 1 pixel to the bottom */
    list-style-image: url('../images/check.png'); /* This is a list style image */
}
.my-form /* This is a class selector for the form */
{
    padding:20px; /* This is a padding of 20 pixels */
}
.my-form .form-group /* This is a class selector for the form group */{
    padding: bottom 15px; /* This is a padding of 15 pixels to the bottom */
}
.my-form label{
    display:block; /* This is a display of block */
}
.my-form input[type="text"], .my-form textarea/* This is a class selector for the input and textarea inside the form */{
    padding: 8px;/* This is a padding of 8 pixels */
    width:100%; /* This is a width of 100% */
}
